@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {

  /* generated-color-tokens:start */
  --color-primary-25: #fffbeb;
  --color-primary-50: #fff7d6;
  --color-primary-100: #fff2c2;
  --color-primary-200: #ffe894;
  --color-primary-300: #ffdc5c;
  --color-primary-400: #ffcd14;
  --color-primary-500: #ffb700;
  --color-primary-600: #e09900;
  --color-primary-700: #996300;
  --color-primary-800: #664200;
  --color-primary-900: #332100;
  --color-accent-25: #fff5f6;
  --color-accent-50: #ffe5ea;
  --color-accent-100: #ffccd4;
  --color-accent-200: #ff99aa;
  --color-accent-300: #ff6680;
  --color-accent-400: #ff3355;
  --color-accent-500: #ff002b;
  --color-accent-600: #cc0022;
  --color-accent-700: #99001a;
  --color-accent-800: #660011;
  --color-accent-900: #330009;
  --color-success-25: #ebffeb;
  --color-success-50: #c7ffc7;
  --color-success-100: #a8ffa8;
  --color-success-200: #7aff7a;
  --color-success-300: #1aff1a;
  --color-success-400: #00e500;
  --color-success-500: #00c400;
  --color-success-600: #009900;
  --color-success-700: #006600;
  --color-success-800: #004d00;
  --color-success-900: #002900;
  --color-neutral-0: #ffffff;
  --color-neutral-25: #f7f7f8;
  --color-neutral-50: #f1f2f3;
  --color-neutral-100: #e5e5e7;
  --color-neutral-200: #c9cacf;
  --color-neutral-300: #afb0b7;
  --color-neutral-400: #94969e;
  --color-neutral-500: #747681;
  --color-neutral-600: #56575f;
  --color-neutral-700: #424349;
  --color-neutral-800: #2c2c30;
  --color-neutral-900: #18191b;
  --color-alpha-white-white-100: #ffffff;
  --color-alpha-white-white-80: #ffffffcc;
  --color-alpha-white-white-50: #ffffff80;
  --color-alpha-white-white-20: #ffffff33;
  --color-alpha-white-white-0: #ffffff00;
  --color-alpha-black-black-100: #18191b;
  --color-alpha-black-black-75: #18191bcc;
  --color-alpha-black-black-50: #18191b80;
  --color-alpha-black-black-20: #18191b33;
  --color-alpha-black-black-0: #18191b00;
  --color-alpha-black-black-10: #18191b1a;
  --color-alpha-primary-yellow-100: #ffcd14;
  --color-alpha-primary-yellow-80: #ffcd14cc;
  --color-alpha-primary-yellow-50: #ffcd1480;
  --color-alpha-primary-yellow-20: #ffcd1433;
  --color-alpha-primary-yellow-0: #ffcd1400;
  /* generated-color-tokens:end */

  /* generated-text-tokens:start */
  --font-family-primary: pretendard;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-15: 15px;
  --font-size-16: 16px;
  --font-size-17: 17px;
  --font-size-18: 18px;
  --line-height-18: 18px;
  --font-size-20: 20px;
  --line-height-20: 20px;
  --font-size-24: 24px;
  --line-height-24: 24px;
  --font-size-28: 28px;
  --line-height-28: 28px;
  --font-size-32: 32px;
  --font-size-36: 36px;
  --line-height-36: 36px;
  --font-size-40: 40px;
  --font-size-44: 44px;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  /* generated-text-tokens:end */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* generated-semantic-tokens:start */
  --color-button-primary-fill: var(--color-primary-400);
  --color-button-primary-fill-pressed: var(--color-primary-500);
  --color-button-disabled-fill: var(--color-neutral-100);
  --color-button-secondary-fill-pressed: var(--color-primary-100);
  --color-button-secondary-fill: var(--color-primary-25);
  --color-button-secodnary-border: var(--color-primary-400);
  --color-button-disabled-border: var(--color-neutral-200);
  --color-button-tertiary-border: var(--color-neutral-600);
  --color-button-tertiary-fill-pressed: var(--color-neutral-50);
  --color-button-tertiary-fill: var(--color-neutral-25);
  --color-button-accent-fill: var(--color-accent-500);
  --color-button-accent-pressed: var(--color-accent-600);
  --color-background-white: var(--color-neutral-0);
  --color-background-dim: var(--color-alpha-black-black-75);
  --color-background-dim-dark: var(--color-alpha-black-black-20);
  --color-background-dim-darker: var(--color-alpha-black-black-50);
  --color-background-dim-darkest: var(--color-alpha-black-black-75);
  --color-background-brand: var(--color-primary-25);
  --color-surface-surface-default: var(--color-neutral-50);
  --color-surface-surface-muted: var(--color-neutral-100);
  --color-surface-surface-elevated: var(--color-neutral-25);
  --color-surface-white: var(--color-neutral-0);
  --color-surface-info: var(--color-alpha-black-black-75);
  --color-surface-inverse: var(--color-neutral-800);
  --color-surface-inverse-default: var(--color-neutral-900);
  --color-text-basic: var(--color-neutral-900);
  --color-text-subtle: var(--color-neutral-700);
  --color-text-disabled: var(--color-neutral-400);
  --color-text-basic-inverse: var(--color-neutral-0);
  --color-text-subtle-inverse: var(--color-neutral-300);
  --color-text-primary: var(--color-primary-900);
  --color-text-accent: var(--color-accent-700);
  --color-text-success: var(--color-success-700);
  --color-text-secondary: var(--color-primary-700);
  --color-text-subtler: var(--color-neutral-500);
  --color-text-brand: var(--color-primary-400);
  --color-text-error: var(--color-accent-500);
  --color-icon-inverse: var(--color-neutral-0);
  --color-icon-primary: var(--color-primary-400);
  --color-icon-subtler: var(--color-neutral-500);
  --color-icon-subtle: var(--color-neutral-500);
  --color-icon-disabled: var(--color-neutral-400);
  --color-icon-basic: var(--color-neutral-700);
  --color-icon-gray: var(--color-neutral-200);
  --color-icon-secondary: var(--color-primary-700);
  --color-icon-tertiary: var(--color-primary-900);
  --color-brand-primary: var(--color-primary-400);
  --color-element-primary: var(--color-primary-400);
  --color-element-primary-light: var(--color-primary-100);
  --color-element-primary-lighter: var(--color-primary-50);
  --color-element-primary-alpha: var(--color-alpha-primary-yellow-20);
  --color-element-gray-subtler: var(--color-neutral-25);
  --color-element-gray-subtle: var(--color-neutral-50);
  --color-element-gray: var(--color-neutral-100);
  --color-element-gray-lighter: var(--color-neutral-25);
  --color-element-gray-light: var(--color-neutral-50);
  --color-element-gray-dark: var(--color-neutral-200);
  --color-element-alpha-light: var(--color-alpha-white-white-80);
  --color-element-white: var(--color-neutral-0);
  --color-element-alpha-dark: var(--color-alpha-black-black-50);
  --color-element-primary-lightest: var(--color-primary-25);
  --color-element-gray-darker: var(--color-neutral-400);
  --color-element-disabled: var(--color-neutral-100);
  --color-element-accent-light: var(--color-accent-300);
  --color-element-letter: var(--color-primary-200);
  --color-border-primary: var(--color-primary-400);
  --color-border-primary-light: var(--color-primary-200);
  --color-border-error: var(--color-accent-500);
  --color-border-gray: var(--color-neutral-300);
  --color-border-gray-light: var(--color-neutral-200);
  --color-border-gray-dark: var(--color-neutral-600);
  --color-border-gray-darker: var(--color-neutral-800);
  --color-border-primary-lighter: var(--color-primary-100);
  --color-border-gray-lighter: var(--color-neutral-100);
  --color-divider-gray: var(--color-neutral-100);
  --color-divider-gray-dark: var(--color-neutral-600);
  --color-divider-gray-light: var(--color-neutral-25);
  --color-divider-inverse: var(--color-neutral-0);
  --color-action-secondary-pressed: var(--color-neutral-100);
  --color-action-secondary: var(--color-neutral-0);
  --color-action-primary-pressed: var(--color-primary-400);
  --color-action-primary: var(--color-primary-25);
  /* generated-semantic-tokens:end */

  /* generated-typography-tokens:start */
  --font-primary: var(--font-family-primary);
  --text-12: var(--font-size-12);
  --text-13: var(--font-size-13);
  --text-14: var(--font-size-14);
  --text-15: var(--font-size-15);
  --text-16: var(--font-size-16);
  --text-17: var(--font-size-17);
  --text-18: var(--font-size-18);
  --leading-18: var(--line-height-18);
  --text-20: var(--font-size-20);
  --leading-20: var(--line-height-20);
  --text-24: var(--font-size-24);
  --leading-24: var(--line-height-24);
  --text-28: var(--font-size-28);
  --leading-28: var(--line-height-28);
  --text-32: var(--font-size-32);
  --text-36: var(--font-size-36);
  --leading-36: var(--line-height-36);
  --text-40: var(--font-size-40);
  --text-44: var(--font-size-44);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  /* generated-typography-tokens:end */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

body {
  font-family: var(--font-pretendard);
}

/* 모달 애니메이션 */
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}
/* generated-typography-utilities:start */
@utility text-title-lg-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-44);
  line-height: var(--line-height-58);
}

@utility text-44-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-44);
}

@utility text-title-lg-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-44);
  line-height: var(--line-height-58);
}

@utility text-44-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-44);
}

@utility text-title-md-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-40);
  line-height: var(--line-height-52);
}

@utility text-40-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-40);
}

@utility text-title-md-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-40);
  line-height: var(--line-height-52);
}

@utility text-40-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-40);
}

@utility text-title-sm-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-36);
  line-height: var(--line-height-50);
}

@utility text-36-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-36);
}

@utility text-title-sm-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-36);
  line-height: var(--line-height-50);
}

@utility text-36-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-36);
}

@utility text-heading-2xl-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-32);
  line-height: var(--line-height-48);
}

@utility text-32-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-32);
}

@utility text-heading-2xl-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-32);
  line-height: var(--line-height-48);
}

@utility text-32-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-32);
}

@utility text-heading-2xl-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-32);
  line-height: var(--line-height-48);
}

@utility text-32-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-32);
}

@utility text-heading-2xl-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-32);
  line-height: var(--line-height-48);
}

@utility text-32-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-32);
}

@utility text-heading-1xl-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-28);
  line-height: var(--line-height-42);
}

@utility text-28-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-28);
}

@utility text-heading-1xl-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-28);
  line-height: var(--line-height-42);
}

@utility text-28-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-28);
}

@utility text-heading-1xl-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-28);
  line-height: var(--line-height-42);
}

@utility text-28-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-28);
}

@utility text-heading-1xl-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-28);
  line-height: var(--line-height-42);
}

@utility text-28-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-28);
}

@utility text-heading-lg-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-24);
  line-height: var(--line-height-36);
}

@utility text-24-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-24);
}

@utility text-heading-lg-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-24);
  line-height: var(--line-height-36);
}

@utility text-24-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-24);
}

@utility text-heading-lg-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-24);
  line-height: var(--line-height-36);
}

@utility text-24-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-24);
}

@utility text-heading-lg-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-24);
  line-height: var(--line-height-36);
}

@utility text-24-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-24);
}

@utility text-heading-md-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-20);
  line-height: var(--line-height-30);
}

@utility text-20-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-20);
}

@utility text-heading-md-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-20);
  line-height: var(--line-height-30);
}

@utility text-20-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-20);
}

@utility text-heading-md-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-20);
  line-height: var(--line-height-30);
}

@utility text-20-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-20);
}

@utility text-heading-md-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-20);
  line-height: var(--line-height-30);
}

@utility text-20-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-20);
}

@utility text-heading-sm-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-18);
  line-height: var(--line-height-28);
}

@utility text-18-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-18);
}

@utility text-heading-sm-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-18);
  line-height: var(--line-height-28);
}

@utility text-18-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-18);
}

@utility text-heading-sm-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-18);
  line-height: var(--line-height-28);
}

@utility text-18-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-18);
}

@utility text-heading-sm-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-18);
  line-height: var(--line-height-28);
}

@utility text-18-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-18);
}

@utility text-body-1xl-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-17);
  line-height: var(--line-height-26);
}

@utility text-17-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-17);
}

@utility text-body-1xl-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-17);
  line-height: var(--line-height-26);
}

@utility text-17-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-17);
}

@utility text-body-1xl-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-17);
  line-height: var(--line-height-26);
}

@utility text-17-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-17);
}

@utility text-body-1xl-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-17);
  line-height: var(--line-height-26);
}

@utility text-17-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-17);
}

@utility text-body-lg-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}

@utility text-16-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-16);
}

@utility text-body-lg-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}

@utility text-16-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-16);
}

@utility text-body-lg-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}

@utility text-16-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-16);
}

@utility text-body-lg-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-16);
  line-height: var(--line-height-24);
}

@utility text-16-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-16);
}

@utility text-body-md-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-15);
  line-height: var(--line-height-24);
}

@utility text-15-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-15);
}

@utility text-body-md-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-15);
  line-height: var(--line-height-24);
}

@utility text-15-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-15);
}

@utility text-body-md-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-15);
  line-height: var(--line-height-24);
}

@utility text-15-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-15);
}

@utility text-body-md-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-15);
  line-height: var(--line-height-24);
}

@utility text-15-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-15);
}

@utility text-body-sm-bold {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
}

@utility text-14-700 {
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: var(--font-size-14);
}

@utility text-body-sm-semibold {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
}

@utility text-14-600 {
  font-family: var(--font-primary);
  font-weight: 600;
  font-size: var(--font-size-14);
}

@utility text-body-sm-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
}

@utility text-14-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-14);
}

@utility text-body-sm-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-14);
  line-height: var(--line-height-20);
}

@utility text-14-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-14);
}

@utility text-caption-md-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-13);
  line-height: var(--line-height-20);
}

@utility text-13-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-13);
}

@utility text-caption-md-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-13);
  line-height: var(--line-height-20);
}

@utility text-13-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-13);
}

@utility text-caption-sm-medium {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-12);
  line-height: var(--line-height-18);
}

@utility text-12-500 {
  font-family: var(--font-primary);
  font-weight: 500;
  font-size: var(--font-size-12);
}

@utility text-caption-sm-regular {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-12);
  line-height: var(--line-height-18);
}

@utility text-12-400 {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: var(--font-size-12);
}

@utility drop-shadow-25-5 {
  box-shadow: 0px 0px 25px 5px #00000014;
}

@utility drop-shadow-10-5 {
  box-shadow: 0px 0px 10px 5px #0000000d;
}

/* generated-typography-utilities:end */

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation-name: marquee;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
